.fondo1{
    background-color: rgb(219, 217, 217);
    text-align: center;
    justify-content: center;
    height: 1000px;
    
}
.bolsa{
    height: 450px;
    width: 470px;
    padding-top: 30px;
    padding-left: 400px;
    
}
.product{
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: block;
    padding-right: 140px;
    padding-top: 140px;
    font-family: 'Staatliches', cursive;
    }